<html>
<head>
    <link rel="stylesheet" href="/css/mainpage2.css" />
    <link rel="stylesheet" href="/css/login_style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/js/mainpage.js"></script>
    <!-- <script src="/js/login.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  
</head>
<body style="background-color:black">
 
    
    
  <!-- </div> -->
      <!-- </div> -->
  <!-- <li><a href="#contact">Contact</a></li> -->
  
  
<h2 style ="color:rgb(255, 224, 224)">Author Analytics</h2>
<p style="color:rgb(255, 224, 224);text-align:center">In overall analytics, we are able to find the highest and lowest number of revisions, and in the below part, there will be pie chart and bar chart showing.</p>
<hr/>
<!-- <div style="background-color:black"> -->
    <div>
    <h2 style ="color:rgb(255, 224, 224)">Function1</h2>
    <h4 class="mainPageHeadingColor">(Please input author name)</h4>
    <h2 class="mainPageHeadingColor">Author name:</h2>
    <!-- <button id="TestingButton"></button> -->
    <table class="center">
            <tr>
                <td> 
                    <p id='section2' style="float:left">
                    <!-- <label class="w3-text-blue" id = "pass" stlye=float:left><b>Author Name: </b></label> -->
                    <!-- <br> -->
                    <input class="w3-input w3-border" name="authorName" type="text" id ="unumber4" style="float:left">
                    <br></br>
                    <!-- <span> -->
                    <button class="button button1" id="function3FirstSubmitButton">Submit</button>
                    <!-- <input type="button" value="submit" class="w3-btn w3-blue" id="function3FirstSubmitButton" /> -->
                    <br></br>
                    
                    <!-- </span> -->
                    <!-- </br> -->
                    </p>
                </td>
                <td>
                <div id= "Fun3QuerySec1" style="color: white; font-size: 24px">
                <!-- <p id="graphSec1TextPart" style="color: white; font-size: 24px"></p> -->
                </div>    
                </td>
                <td>
                    <div id= "#Fun3AllTimeStamps" style="color:white; font-size:20px">
                    
                    </div>
                </td>
                
                
                
            </tr>
            </table>
</div>
<!-- <div style="background-color:black"> -->
    <div>
        <hr/>
        <h2 style ="color:rgb(255, 224, 224)">Display All Timestamps</h2>
        
        
        
        <table class="center">
                <tr>
                    <td> 
                        <p id='section2' style="float:left">
                            <select id="selectID" style="background-color:white; color:black" class="center_object"></select>
                            <button class="button button1"  id="function3ThirdButton">Submit</button>
                            <h3 id="selectID2" style="text-align: center;color:white"></h3>
                            <!-- <button class="w3-btn w3-blue" id="function3FourthButton" class="mainPageHeadingColor">Get timestamp</button> -->
                            <p id="OnlyNumber" class="mainPageHeadingColor"></p>
                            <h4 id="unumber5" class="mainPageHeadingColor"></h4>        
                        <!-- <label class="w3-text-blue" id = "pass" stlye=float:left><b>Author Name: </b></label> -->
                        <!-- <br> -->
                               
                        <!-- </span> -->
                        <!-- </br> -->
                        </p>
                    </td>
                    <td>
                    
                    </td>
                    <td>
                        <div id= "#Fun3AllTimeStamps2" style="color:white; font-size:20px">
                        
                        </div>
                    </td>
                    
                    
                    
                </tr>
                </table>
    </div>
    <!-- <div id= "Fun3QuerySec2" style="color: white; "></div>
                    <p id="graphSec1TextPart" style="color: white; font-size: 24px"></p> -->
                    <!-- </div>      -->
  <!-- Site footer -->
  
</body>
</html>