<html>
<head>
<link rel="stylesheet" href="/css/mainpage2.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/js/mainpage.js"></script>
<script src="/js/login.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/graphs.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load('visualization', '1.0', {'packages':['corechart']});</script>
</head>
<body style="background-color:rgb(135, 158, 147)">
    
    <div class="sidenav">
        <h3 style = "color: rgb(255, 224, 224); margin: auto; padding-left: 20px">Welcome Home!</h3>
        <hr/>
        <a href="#" id="OverallButton" >Overall Analysis</a>
        <a href="#" id="IndividualButton">Individual Analysis</a>
        <a href="#" id="AuthorButton">Author Analysis</a>
        
      </div>

  
  
  <!-- <div class="custom-select" style="width:200px;"> -->


    

<div id="resultBox">
<!-- <div id='mainDescription' style="background-color:#333;"> -->
<h2 style = "color: rgb(255, 224, 224);">Wiki query application</h2>
<!-- <p style="color:white; text-align: center">We have three major functions, which are <strong>Overall Analytics</strong>, <strong>Individual Article Analytics</strong> and <strong>Author Analytics</strong>. You will able to see the demonstration of these three function below. </p> -->
<!-- </div> -->

    
    

</div>
</body>
</html>